{% extends 'AppBundle::base.html.twig' %}

{% block title %}Bienvenido a su cajero Automático{% endblock %}


{% block content %}
<article style="text-align:left;">

	<form  name="frmError" action="{{ path('index') }} " METHOD="POST" >

	<div class="alert alert-warning" role="alert">
		<label>La Cantidad ${{ cantidad }} no puede ser entregada </label> <br/>
	<label>{{ msg_error }} </label>
	</div>
	
	<br /><br />
	<label>Billetes Disponibles:</label>
	<ul>
		<li>$10</li>
		<li>$20</li>
		<li>$50</li>
		<li>$100</li>
	</ul>

		
		<input type="submit" style="display:none" value="Intentar de Nuevo" />
	</form>
</article>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	 

<script type="text/javascript">

$( document ).ready( function(){
	
	$('#btnAceptar, #btnCancelar').click(function(){
		$('form[name="frmError"]').submit();
	});
	
	$('#pnlTecladoNumerico input[type="button"]').prop( "disabled", true );
	
} );
</script>
{% endblock %}
	 
