{% extends 'AppBundle::base.html.twig' %}

{% block title %}Bienvenido a su cajero Automático{% endblock %}

{% block styles %}
{{ parent() }}
<style type="text/css">
	
</style>
{% endblock %}

{% block content %}
<article style="text-align:left;">
	<h3 style="margin:0; padding:0">Bienvenido.</h3><br/>
	<form name="cash_machine" METHOD="POST" action="{{ path('entregar_dinero') }}" >
		<label>Escriba la cantidad deseada:</label>
		
		
		  <input class="form-control"  placeholder="escriba muliplos de 10" style="color:#333;" required min=10 step=10 autofocus name="cantidad_solicitada" />
		
		  
		<input class="btn btn-success" style="display:none" type="submit" value="Aceptar" />
		
	</form>
	<br/>
	<label>Billetes Disponibles:</label>
	<ul>
		<li>$10</li>
		<li>$20</li>
		<li>$50</li>
		<li>$100</li>
	</ul>
</article>

{% endblock %}


	 
{% block javascripts %}
	{{ parent() }}
<script type="text/javascript">

$( document ).ready( function(){
	$('#btnAceptar').click(function(){
		$('form[name="cash_machine"]').submit();
	});
	
	$('#btnCancelar').click(function(){
		$('form[name="cash_machine"]').trigger("reset");
	});
	
	$('#pnlTecladoNumerico input[type="button"]').click(function(){
		var val=$(this).val();
		console.log(val);
		if (val!=""){
			var cantidad= $('input[name="cantidad_solicitada"]').val();
			$('input[name="cantidad_solicitada"]').val(cantidad.concat(val) );
			
		}
	});
} );
</script>
{% endblock %}