<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block styles %}{% endblock %}
        <!-- Pure HTML + CSS no angular no jquery just symfony + html + twig + css :P -->
      
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>


