body
{
    background: #F5F5F5;
    font: 18px/1.5 sans-serif;
}
h1, h2
{
    line-height: 1.2;
    margin: 0 0 .5em;
}
h1
{
    font-size: 36px;
}
#wrapper
{
    background: #FFF;
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
}
#container
{
    padding: 2em;
}
p
{
    margin: 0 0 1em 0;
}
p.disclaimer
{
    font-size: 12px;
    margin: 20px 0;
}
p.error
{
    color: red;
}




form label
{
    display: block;
    margin: 10px 0;
}
form input
{
    height: 30px;
    margin: 10px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
form button
{
    margin: 10px 0;
    background-color: #51C5DB;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
